/* Tablet */
@media (max-width: 991px) {
    .product-card img {
        height: 200px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .product-card img {
        height: 300px;
    }
}

/* Small Mobile */
@media (max-width: 480px) {
    .product-card img {
        height: 300px;
    }
}
